################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjectEuler/.vs/ProjectEuler/v16
/ProjectEuler/ProjectEuler/obj/Debug
/ProjectEuler/ProjectEuler/obj/Release
/ProjectLeetEuler/.vs/ProjectEulerCPP/v16
*.tlog
*.exe
*.ilk
*.log
*.obj
*.enc
*.idb
